
.maneger-info{
    width: 50%;
    height: 70%;
    background: rgb(179, 179, 175);
    border-radius: 1rem;
}

.maneger-info li{
    width: 80%;
    height: 15%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-weight: 500;
}

